<div v-click-outside="close" class="todo-list-add-form-container">
  <a v-if="!this.addFormActive" class="todo-list-add-btn noselect" id="btn" @click="open">
    <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="add-todo-btn-img">
      <g id="plus-Canvas" transform="translate(2937 1443)">
        <g id="plus">
          <g id="Rectangle 4">
            <use xlink:href="#path0_fill" transform="translate(-2931 -1443)" fill="#007AFF"/>
          </g>
          <g id="Rectangle 4.1">
            <use xlink:href="#path0_fill" transform="matrix(1.38778e-16 -1 1 1.38778e-16 -2937 -1433)" fill="#007AFF"/>
          </g>
        </g>
      </g>
      <defs>
        <path id="path0_fill" d="M 0 2C 0 0.895431 0.895431 0 2 0C 3.10457 0 4 0.895431 4 2L 4 14C 4 15.1046 3.10457 16 2 16C 0.895431 16 0 15.1046 0 14L 0 2Z"/>
      </defs>
    </svg>
  </a>
  <div v-if="this.addFormActive" class="todo-list-add-form" id="frm">
    <form @submit.prevent="save">
    <input class="todo-list-add-form-title-input" type="text" placeholder="Type here..." id="inpt" @input="updateMessage" :value="addFormTitle" ref="title" autocomplete="off" @keydown.esc="closeClear"/>
      <div class="todo-list-add-form-buttons">

        <button class="todo-list-add-form-add-btn noselect" type="submit">
          <span>Create</span><svg width="16" height="12" viewBox="0 0 16 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">s
            <g id="enter-Canvas" transform="translate(904 1451)">
              <g id="enter button">
                <g id="Group">
                  <g id="keyboard return">
                    <g id="Vector">
                      <use xlink:href="#path1_fill" transform="translate(-904 -1451)" fill="#FFFFFF"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <defs>
              <path id="path1_fill" d="M 14.3158 1L 14.3158 5L 3.2 5L 6.23158 1.4L 5.05263 0L 0 6L 5.05263 12L 6.23158 10.6L 3.2 7L 16 7L 16 1L 14.3158 1Z"/>
            </defs>
          </svg>
        </button>

        <a class="todo-list-add-form-cancel-btn" id="cls" @click="closeClear">
          <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Canvas" transform="translate(848 1455)">
              <g id="&#209;&#129;ancel">
                <g id="Rectangle 4">
                  <use xlink:href="#path2_fill" class="cancel-icon" transform="matrix(0.707108 -0.707106 0.707108 0.707106 -848 -1436.33)" fill="#CECED2"/>
                </g>
                <g id="Rectangle 4.1">
                  <use xlink:href="#path2_fill" class="cancel-icon" transform="matrix(0.707108 0.707106 -0.707108 0.707106 -846.667 -1455)" fill="#CECED2"/>
                </g>
              </g>
            </g>
            <defs>
              <path class="cancel-icon" id="path2_fill" d="M 0 0.942807C 0 0.422109 0.422109 0 0.942807 0L 25.4558 0C 25.9765 0 26.3986 0.422109 26.3986 0.942807C 26.3986 1.4635 25.9765 1.88561 25.4558 1.88561L 0.942807 1.88561C 0.42211 1.88561 0 1.4635 0 0.942807Z"/>
            </defs>
          </svg>
        </a>
      </div>
    </form>
  </div>
</div>
