@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.todo-list-add-form-container {
  position: relative;
}

.todo-list-add-btn {
  width: 70px;
  height: 60px;
  border: 1px solid $color-border-grey;
  border-radius: 4px;

  position: absolute;
  left: 20px;
  top: 20px;
}

.todo-list-add-btn {
  background-color: $color-white;
}
.todo-list-add-btn:hover {
  background-color: $color-background-hover-grey;
}
.todo-list-add-btn:active {
  background-color: $color-background-grey;
}

.add-todo-btn-img {
  position: relative;
  top: 22px;
  left: 27px;
}

.todo-list-add-form {
  //visibility: collapse;

  width: 600px;
  height: 90px;

  padding: 20px;

  position: fixed;
  bottom: 20px;
  left: 80px;

  border: 1px solid $color-border-grey;
  border-radius: 4px;

  box-shadow: 0 2px 4px $color-shadow-grey;
  background-color: $color-white;
}

.todo-list-add-form-title-input {
  width: 600px;
  height: 40px;

  padding-left: 10px;
  border: 1px solid $color-border-grey;
}

.todo-list-add-form-buttons {
  display: inline-flex;
}

.todo-list-add-form-add-btn {
  order: 0;
  height: 40px;

  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $color-button-blue;
  border: 0;
  border-radius: 4px;

  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo-list-add-form-add-btn:hover {
  background-color: $color-button-hover;
}

.todo-list-add-form-add-btn:active {
  background-color: $color-button-active;
}

.todo-list-add-form-add-btn span {
  display: inline-block;
  font-family: $font-main-family;
  font-size: $size-font-input;
  line-height: $size-input-line-height;
  color: $color-white;
}

.todo-list-add-form-add-btn svg {
  margin-left: 10px;
}

.todo-list-add-form-cancel-btn {
  order: 1;
  margin-left: 20px;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-list-add-form-cancel-btn .cancel-icon {
  fill: $color-border-grey;
}
.todo-list-add-form-cancel-btn:hover .cancel-icon {
  fill: $color-glyph-active-grey;
}
.todo-list-add-form-cancel-btn:active .cancel-icon {
  fill: $color-glyph-active-grey;
}

