//@import "~bootstrap/scss/bootstrap.scss";
//
//html, body, #app-main {
//    height: 100%;
//}
//
//.content {
//  margin-top: 50px;
//}
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import "variables";
@import "mixins";

* {
  font-family: $font-main-family;
  margin: 0;
  padding: 0;
}

@mixin placeholder() {
  font-family: $font-main-family;
  color: $color-placeholder-grey;
  font-size: $size-font-input;
  line-height: 40px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  @include placeholder();
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:  1;
  @include placeholder();
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:  1;
  @include placeholder();
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  @include placeholder();
}
::-ms-input-placeholder { /* Microsoft Edge */
  @include placeholder();
}
::placeholder { /* Most modern browsers support this now. */
  @include placeholder();
}

input, select, textarea{
  color: $color-font-dark-grey;
  font-size: $size-font-input;
  line-height: $size-input-line-height;
  @include box-sizing(border-box)
}

textarea:focus, input:focus {
  color: $color-font-dark-grey;
  font-size: $size-font-input;
  line-height: $size-input-line-height;
}

.clear { clear: both; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body { height: 100%; min-height: 200px; }

section {min-height: 100%;}

.container {
  position: relative;
  height: 100%;
}


/* scrollbar */

.fancy-scroll::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255,255,255,0);
}

.fancy-scroll::-webkit-scrollbar-thumb {
  background-color: $color-background-grey;
  border-right: 4px #FFFFFF solid;
}

.fancy-scroll::-webkit-scrollbar-button:end:increment,
.fancy-scroll::-webkit-scrollbar-button:start:decrement{
  background:transparent;
  display:none;
}
