$font-main-family: "PT Sans";

$color-placeholder-grey: #CECED2;
$color-font-dark-grey: #333333;

$color-white: #FFFFFF;
$color-input-light-grey: #E5E5E5;

$color-background-grey: #EFEFF4;
$color-border-grey: #CECED2;

$color-item-active-grey: #F7F7F9;
$color-glyph-active-grey: #8E8E93;

$color-button-blue: #007AFF;
$color-button-hover: #006FE8;
$color-button-active: #0064D1;

$color-background-hover-grey: rgba(239, 239, 244, 0.5);

$color-facebook-blue: #3B5998;

$size-font-input: 18px;
$size-left-menu: 60px;
$size-input-line-height: 23px;

$color-shadow-grey: rgba(0,0,0,0.15);
