@import '../../../sass/variables';

.left-menu {
  width: $size-left-menu;
  height: 100%;
  min-height: 100%;
  background-color: $color-background-grey;
  float: left;
  border-right: 1px solid $color-border-grey;
}
