<div class="todo-list-items fancy-scroll" v-bind:class="{'has-scroll': hasScroll}" ref="scrollContainer" v-on:scroll="onScroll">
  <div v-if="todoListItems.length === 0" class="todo-list-empty-placeholder">
    <span>Press</span>
    <svg width="33" height="28" viewBox="0 0 33 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Canvas" transform="translate(2768 4410)">
        <g id="Group">
          <g id="Rectangle 3.17">
            <mask id="mask0_outline_ins">
              <use xlink:href="#path_plus_hint_0_fill" fill="white" transform="translate(-2768 -4410)"/>
            </mask>
            <g mask="url(#mask0_outline_ins)">
              <use xlink:href="#path_plus_hint_1_stroke_2x" transform="translate(-2768 -4410)" fill="#8E8E93"/>
            </g>
          </g>
          <g id="Component">
            <g id="Rectangle 4">
              <use xlink:href="#path_plus_hint_2_fill" transform="translate(-2752.44 -4399.73)" fill="#8E8E93"/>
            </g>
            <g id="Rectangle 4.1">
              <use xlink:href="#path_plus_hint_3_fill" transform="matrix(1.40194e-16 -1 1 1.37376e-16 -2755.27 -4395.07)" fill="#8E8E93"/>
            </g>
          </g>
        </g>
      </g>
      <defs>
        <path id="path_plus_hint_0_fill" d="M 0 4C 0 1.79086 1.79086 0 4 0L 29 0C 31.2091 0 33 1.79086 33 4L 33 24C 33 26.2091 31.2091 28 29 28L 4 28C 1.79086 28 0 26.2091 0 24L 0 4Z"/>
        <path id="path_plus_hint_1_stroke_2x" d="M 4 1L 29 1L 29 -1L 4 -1L 4 1ZM 32 4L 32 24L 34 24L 34 4L 32 4ZM 29 27L 4 27L 4 29L 29 29L 29 27ZM 1 24L 1 4L -1 4L -1 24L 1 24ZM 4 27C 2.34315 27 1 25.6569 1 24L -1 24C -1 26.7614 1.23858 29 4 29L 4 27ZM 32 24C 32 25.6569 30.6569 27 29 27L 29 29C 31.7614 29 34 26.7614 34 24L 32 24ZM 29 1C 30.6569 1 32 2.34315 32 4L 34 4C 34 1.23858 31.7614 -1 29 -1L 29 1ZM 4 -1C 1.23858 -1 -1 1.23858 -1 4L 1 4C 1 2.34315 2.34315 1 4 1L 4 -1Z"/>
        <path id="path_plus_hint_2_fill" d="M 0 0.942857C 0 0.422131 0.422132 0 0.942857 0L 0.942857 0C 1.46358 0 1.88571 0.422132 1.88571 0.942857L 1.88571 6.52381C 1.88571 7.04454 1.46358 7.46667 0.942857 7.46667L 0.942857 7.46667C 0.422132 7.46667 0 7.04454 0 6.52381L 0 0.942857Z"/>
        <path id="path_plus_hint_3_fill" d="M 0 0.933333C 0 0.417867 0.417868 0 0.933333 0L 0.933333 0C 1.4488 0 1.86667 0.417868 1.86667 0.933333L 1.86667 6.60952C 1.86667 7.12499 1.4488 7.54286 0.933333 7.54286L 0.933333 7.54286C 0.417868 7.54286 0 7.12499 0 6.60952L 0 0.933333Z"/>
      </defs>
    </svg>
    <span>below to create a point</span>
  </div>
  <div v-click-outside="onDeselectAll">
    <transition-group tag="div" name="todo-list-sortable">
      <div
        v-if="todoListItems.length > 0"
        v-for="(listItem, index) in todoListItems"
        class="todo-list-item"
        v-bind:key="index"
        v-bind:class="{active: listItem.isActive || listItem.isDragged}"
        :id="idParser.print(listItem.id)"
        @click.exact="onActivate"
        @click.ctrl.exact="onActivateCtrl"
        @mousemove="onMoveStart"
      >
        <div class="todo-item-title" v-if="!listItem.isDragged">{{listItem.title}}</div>
        <div v-if="listItem.isDragged" style="height: 26px;"></div>
      </div>
    </transition-group>
  </div>
</div>
