@import "../../../../sass/variables";
@import "../../../../sass/mixins";

$size-list-width: 680px;
$size-list-item-title-with: 390px;

.todo-list {
  width: $size-list-width;
}

.todo-list-items {
  @include box-sizing(border-box);

  position: relative;
  height: calc(100% - 100px);
  min-height: 200px;
  width: $size-list-width;
  padding-top: 22px;
  overflow-y: auto;
  overflow-x: hidden;
}

.todo-list-items.has-scroll {
  border-bottom: 1px solid $color-background-grey;
}

.todo-list-item {
  cursor: pointer;
  padding-left: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}

.todo-list-item.active, .todo-list-item:hover {
  background-color: $color-item-active-grey;
}

.todo-list-item.moved {
  position: absolute;
  z-index: 99;
  width: $size-list-width;
  background: $color-item-active-grey;
  pointer-events: none;
}

.todo-list-sortable-leave-active {
  position: absolute;
}

.todo-list-sortable-move {
  transition: transform 200ms;
}

.todo-item-title {
  display: inline-block;
  font-size: $size-font-input;
  line-height: 26px;
  width: $size-list-item-title-with;
  color: $color-font-dark-grey;
  pointer-events: none;
}

.todo-list-empty-placeholder {
  width: 420px;
  position: relative;
  top: 38.2%;
  left: 142px;
  font-size: 28px;
  line-height: 36px;
  color: #8E8E93;
}

.todo-list-empty-placeholder span {
}

.todo-list-empty-placeholder svg {
  vertical-align: middle;
}
