<div class="signup-container">
  <div class="signup-header">
    <h1>Points</h1>
    <p>Get started with free account</p>
  </div>
  <div class="signup-form" @submit.prevent="send">
    <p>Create a free Points account to organize, do and analyze. Already have Points account? <a href="#">Log in here</a></p>
    <form method="post">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" @input="updateEmail" :value="signupEmail"/>
      <label>Password</label>
      <input type="password" id="password" name="password" @input="updatePassword" :value="signupPassword"/>
      <input type="submit" value="Get started!" :disabled="!signupFormValid" />
    </form>
  </div>
  <div class="signup-facebook">
    <p>Or sign up with your Facebook account</p>
    <button>Sign Up with <span class="fb">Facebook</span></button>
  </div>
  <div class="signup-terms">By signing up, you agree to Points' Privacy Policy &amp; Terms of Use </div>
</div>
