@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.signup-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.signup-header {
  padding-top: 68px;
  text-align: center;
  color: $color-font-dark-grey;
  font-family: $font-main-family;

  h1 {
    font-family: "PT Serif";
    line-height: 127px;
    font-size: 96px;
  }

  p {
    font-size: 24px;
    line-height: 41px;
  }
}

.signup-form {
  padding-top: 40px;
  font-family: $font-main-family;

  p {
    font-size: 18px;
    line-height: 23px;

    a {
      color: $color-button-blue;
    }
  }

  form {
    padding-top: 40px;

    label {
      display: block;
      width: 100%;

      font-size: $size-font-input;
      line-height: $size-input-line-height;
      color: $color-font-dark-grey;
      font-weight: bold;
    }

    input {
      width: 100%;
      height: 60px;
      border-radius: 4px;
    }

    input[type=email], input[type=password] {
      margin-top: 8px;
      margin-bottom: 16px;

      padding-left: 18px;

      color: $color-font-dark-grey;
      //background-color: $color-input-light-grey;

      border: 1px solid $color-border-grey;
      border-radius: 4px;

      &:focus {
        outline: none !important;
        border: 1px solid $color-button-blue;
      }
    }

    input[type=submit] {
      box-shadow: 0 2px 4px $color-shadow-grey;
      border-width: 0;
      color: $color-white;
      font-weight: bold;
      margin-top: 14px;

      &:disabled {
        background-color: rgba(0, 122, 255, 0.3);
      }
    }
  }
}

.signup-facebook {
  padding-top: 14px;

  p {
    line-height: 23px;
    font-size: 18px;

    color: $color-font-dark-grey;
  }

  button {
    width: 100%;
    height: 60px;
    background-color: $color-background-grey;
    margin-top: 12px;
    text-align: center;

    font-size: $size-font-input;
    line-height: $size-input-line-height;
    font-weight: bold;

    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px $color-shadow-grey;

    .fb {
      color: $color-facebook-blue;
    }
  }
}

.signup-terms {
  padding-top: 30px;
  color: $color-glyph-active-grey;
  font-size: 18px;
  line-height: 26px;
}



